@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0,0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* landing page */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  user-select: none;
}
.landing-page {
  height: 100vh;
  background-image: url('/Images Capstone/Landing Page Image.png'); 
  background-size: cover;
  background-position: center;
  position: relative;
}
.landingpage-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color:transparent;
  backdrop-filter: blur(5px);
  position: fixed;
  width: 100%;
  top: 0;
  height: 80px;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.logo{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: -60px;
}
.logo img {
  margin-top: 25px; 
}
.nav-links{
  margin-left: auto;
}
.nav-links a {
  color: #1e5a78;
  text-decoration: none;
  margin: 0 1rem;
  transition: color 0.3s;
  font: large bold;
}
.main-content {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  text-align: right;
  color: #f4f6f7; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
}
.tagline {
 font :xx-large bolder;
 margin-bottom: 0.5rem;
}
.explore-button {
  font-size: 1rem;
  padding: 0.8rem 1.5rem;
  background-color: white;
  color: #226688; 
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}
.explore-button:hover {
  background-color:  #1e5a78; 
  color: white;
}
.hamburger{
  display: none;
}
/* Responsive Navbar landing page */
@media screen and (max-width:600px) {
  .logo{
    width:170px;
    height:50px;
    align-items: center;
    margin-left: -50px;
  }
  .landing-page{
    height:100vh;
  }
  .landingpage-header{
    height:70px;
  }
  .nav-links {
    display: none; 
    flex-direction: column;
    position: absolute;
    top: 70px; 
    right: 0;
    left: 0; 
    background-color: rgba(234, 249, 252, 0.9); 
    padding-top: 1rem;
    padding-bottom: 1rem;
    align-items: center; 
    z-index: 1000; 
    max-width: fit-content; 
    padding-inline: 3px;
  }
  .nav-links.nav-expanded {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 300px; 
    width: 100%;
    background-color: white; 
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2); 
  }
  .nav-links a {
    color: #035c88; 
    text-decoration: none;
    padding: 1rem;
    display: block; 
    transition: background-color 0.3s; 
    width: 100%; 
  }
  .nav-links a:hover {
    background-color: #f2f2f2; 
  }
  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 1001;
    color: #1e5a78;
  }
  .bar {
    width: 100%;
    height: 3px;
    transition: transform 0.3s ease;
  }
  .hamburger.open .top {
    transform: rotate(45deg) translate(5px, 5px);
  }
  .hamburger.open .middle {
    opacity: 0;
  }
  .hamburger.open .bottom {
    transform: rotate(-45deg) translate(7px, -6px);
  }
  .main-content {
    right: 10%; 
    color: #1e5a78;
  }
  .tagline {
    font-size: larger;
    font: bold;
  }
  .explore-button {
    font-size: 0.9rem;
    padding: 0.6rem 1.2rem;
    margin-top: 25px;
  }
}
/*Chatbot*/
.chatbot-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #08878e;
  color: white;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  z-index: 1050; 
}
.chatbot-container {
  display: flex; 
  position: fixed;
  bottom: 80px;
  right: 20px;
  width: 350px;
  max-height: 600px; 
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  flex-direction: column; 
  justify-content: space-between;
  overflow-y: hidden;
}
.chatbot-expanded {
  display: flex;
  flex-direction: column; 
}
.chat-history {
  overflow-y: auto;
  padding: 10px;
  flex-grow: 1;
  max-height: 290px;
}
.user-message {
  background-color: #5DADE2; 
  color: black;
  padding: 10px;
  margin: 5px 5px 5px auto;
  border-radius: 10px;
  text-align: right;
  align-self: flex-end; 
  max-width: 80%;
  word-wrap: break-word;
  float: right;
  clear: both;
}
.bot-message {
  background-color: #58D68D; 
  color: white;
  padding: 10px;
  margin:5px auto 5px 5px;
  border-radius: 10px;
  text-align: left;
  align-self: flex-start; 
  max-width: 80%; 
  word-wrap: break-word;
  float: left; 
  clear: both;
}
.input-container {
  display: flex;
  padding: 10px;
  background-color:white;
  align-items: center; 
  justify-content: space-between; 
  margin: 10px 0;
}
.input-field {
  flex-grow: 1; 
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #0a6377; 
}

.send-button {
  background-color: #08699d; 
  color: white;
  padding: 10px 18px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-top: -3px;
  margin-left: 10px;
}
.send-button:hover {
  opacity: 0.8;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
/* Styles for the scrollbar */
.chat-history::-webkit-scrollbar {
  width: 4px;
}
.chat-history::-webkit-scrollbar-track {
  background: transparent;
}
.chat-history::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}
.chat-history::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
/*login page */
.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('/Images Capstone/Sign In Page.jpg'); 
  background-size: cover;
  background-position: center;
}
.login-container {
  background-color: #ffffff;
  padding: 1.2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  position: absolute;
  left: 25%; 
  top: 55%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.login-logo {
  text-align: center;
  margin-top: -70px;
  margin-left: -40px;
}
.login-heading {
  color: #333;
  text-align: center;
  margin-bottom: 1.5rem;
  margin-top: -55px;
  font: x-large bold;
}
.form-label {
  display: block;
  margin-bottom: 0.5rem;
  font:large bold;
}
input {
  width: 100%;
  padding: 7px;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.login-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: whitesmoke;
}
.login-container input::placeholder {
  color: grey;
  font: medium bold;
  opacity: 1;
}

.login-button {
  background-color: #226688;
  color: #ffffff;
  border: none;
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-left: 0px;
}
.login-button:hover {
  background-color: hwb(200 1% 65%); 
}
.login-error {
  color: red;
  margin-top: 1rem;
}
.terms-text {
  font-size: 0.75rem;
  text-align: center;
  margin-top: 1.5rem;
}
.terms-text a {
  color: #226688; 
  text-decoration: none;
}
.terms-text a:hover {
  text-decoration: underline;
}
.social-login :hover { 
  cursor: pointer;
}
/*mobile view for login*/
@media screen and (max-width: 600px) {
  .social-login :hover { 
    cursor: pointer;
  }
  .login-container {
    left: auto; 
    top:auto;
    width: calc(100% - 40px);  
    max-width: 540px;
    margin-top: 550px;
    padding :20px;
  
  }
 .login-page{
  height: auto;
  min-height: 100vh; 
  padding: 0;
  display: flex; 
  align-items: center; 
  justify-content: center; 
  overflow: hidden; 
 }
 .login-logo {
  text-align: center;
  margin-top: -55px;
  margin-left: -40px;
  width : 150px;
  margin-bottom: 20px;
}
.login-heading {
  color: #333;
  text-align: center;
  margin-bottom: 5px;
  margin-top: -65px;
  font: medium bold;
}
.form-label {
  display: block;
  margin-bottom:5px;
  font-size: 0.9rem;
}
input{
  width: 100%;
  padding: 0.5rem;
  margin-bottom:4px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.login-button {
  background-color: #226688;
  color: #ffffff;
  border: none;
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

}
.login-button:hover {
  background-color: hwb(200 1% 65%); 
}
.login-error {
  color: red;
  margin-top: 1rem;
 font: medium bold;
  margin-bottom: 1rem;
}
.terms-text {
  font-size: 0.75rem;
  text-align: center;
  margin-top: 1.5rem;
}
.terms-text a {
  color: #226688; 
  text-decoration: none;
}
.terms-text a:hover {
  text-decoration: underline;
}}
/*sign up*/
.signup-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('/Images Capstone/Sign In Page.jpg'); 
  background-size: cover;
  background-position: center;
}

.signup-container {
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  position: absolute;
  left: 20%; 
  top: 55%;
  transform: translateY(-50%);
}
.signup-logo {
  text-align: center;
  margin-top: -70px;
  margin-left: -40px;
}
.slogan p {
  margin: 0;
  color: #333;
  margin-bottom: 10px;
  font:x-large bold;
  margin-top: -60px;
  text-align: center;
}
.signup-container input,
.signup-container select,
.signup-container button {
  width: 100%;
  padding: 7px;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: whitesmoke;
}
.name-fields {
  display: flex;
}
.name-fields input {
  flex: 1;
}
.signup-container button {
  width: 100%;
  padding: 10px;
  margin-top:4px;
  background-color:#226688; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
  margin-left: 0px;
}
.signup-container input::placeholder {
 font:medium bold;
 color: grey;
}
.signup-container button:hover {
  background-color:#1e5a78; 
}
.privacy-policy,
.signin-link {
  font-size: 0.875rem;
  color: #666;
  margin-top: 1rem;
  text-align: center;
  gap :auto;
}
.signin-link a {
  color: #226688;
  text-decoration: none;
}
.social-login {
  display: flex;
  flex-direction: raw;
  align-items: center;
  margin-top: 1rem;
}
.google-button {
  background-color: #fff;
  color: #000;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
  margin: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

}
.google-button:hover{
  border-color: #888;
}
.social-icon {
  margin-right: 8px;
}
/*mobile view for signup*/
@media screen and (max-width: 600px) {
  .signup-container {
    left: 50%; 
    top:52% ;
    transform: translate(-50%, -50%); 
    width: calc(100% - 40px);
    margin-top: 380px; 
    position: absolute;
    max-width: 540px;
    margin: 0;
    padding :20px;
  }
 .signup-page{
  height: auto; 
  min-height: 100vh; 
  padding: 0; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  overflow: hidden; 
 }
 .signup-logo {
  text-align: center;
  margin-top: -60px;
  margin-left: -40px;
  width : 150px;
  margin-bottom: 10px;}
.slogan p {
  margin: 0;
  color: #333;
  margin-bottom: 10px;
  font:medium bold;
  margin-top: -70px;
  text-align: center;
}
.signup-container input,
.signup-container select {
  width: 100%;
  padding: 7px;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.name-fields {
  display: flex;
  gap: 8px; 
}
.name-fields input {
  flex: 1;
}
.signup-container button {
  width: 100%;
  padding: 10px;
  margin-top:auto;
  background-color:#226688; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;

}
.signup-container button:hover {
  background-color:#1e5a78; 
}

.privacy-policy,
.signin-link {
  font-size: small;
  color: #666;
  margin-top: 2px;
  text-align: center;
}
.signin-link a {
  color: #226688;
  text-decoration: none;
}}
/* Terms of Use Page*/
.terms-of-use-page {
  padding-top: 90px ;
  display: flex;
  text-align: center;
  min-height: calc(100vh - 90px);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.terms-container {
  width: 700px;
  margin: auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 4px 4px lightsteelblue;
}
.terms-heading {
  text-align: center;
  margin-bottom: 10px;
  font:x-large bold;
  color: #0a6377;
}
.terms-controls {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  margin-bottom:-15px;
  gap:10px;
}
.terms-search-input,
.terms-sort-select {
  padding: 10px; 
  width: calc(100% - 10px); 
  border: 1px solid #ddd;
  border-radius: 4px;
  height: 45px;
  font-size: 16px; 
  line-height: 1.5; 
  color: #333; 
  background-color: #f3f3f3; 
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.terms-search-input {
  flex-grow: 2;
}
.terms-sort-select {
  padding-right: 30px; 
  background-image: url('data:image/svg+xml;charset=US-ASCII,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5H7z" fill="%23333"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px 12px;
  margin-top: -5px;
}

.terms-search-input, .terms-sort-select {
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font:medium bold;
}
.term-title {
  display: block;
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  padding: 5px;
  Font:large bold;
  cursor: pointer;
  transition: color 0.3s;
  margin-bottom: 5px;
  color: #0a6377;
  margin-top: 20px;
}

.term-title:hover {
  color: #555;
  background-color: whitesmoke;
  margin-left: 0;
}

.term-content {
  display: none;
  border-left: 2px solid #ddd;
  margin-left: 3px;
  font:medium bold;
  margin-top: -5px;
  margin-bottom: 10px;
}

.term-content p {
  text-align: left;
  margin-left: 15px;
}
.term-content p:hover {
  color: #226688;
  transform: scale(1.01);
  border-radius:2px;
  padding:1px 10px;

}
.terms-print-button {
  padding: 10px 20px;
  background-color:#0a6377;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 5px;
  font:medium bold;
  margin-left: 30px;
  margin-bottom: -15px;
}
.term-item .term-content {
  display: block;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .terms-of-use-page {
    padding-left: 20px;
    padding-right: 20px;
    flex-direction: column;
    justify-content: flex-start;
  }
  .terms-container {
    width: 100%; 
    margin-top:10px;
    padding: 10px; 
  }
  .terms-heading {
    font-size: large; 
  }
  .terms-controls {
    flex-direction: row; 
    gap: 10px;
  }
  .terms-search-input,
  .terms-sort-select {
    width: 100%; 
    margin-top: 5px; 
    height: 35px;
  }
  .terms-sort-select {
    margin-bottom: 2px; 
  }
  select.terms-sort-select option {
    font-size: 12px; 
  }
  .term-title,
  .terms-print-button {
    font-size: medium; 
  }
  .terms-print-button{
    padding: 4px 6px;
    margin-bottom: 10px;
    margin-right:30px
  }
  .term-content p {
    font-size: small; 
  }


  
  .nav-links a, .hamburger {
    font-size: larger; 
  }
}

/* Privacy Policy Page Styles */
.privacy-policy-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin:0;
  text-align: center;
  box-sizing: border-box;
  padding-top: 10vh;
  overflow: hidden;
}
.privacy-container {
  padding: 20px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  max-width: 800px;
  width: calc(100% - 40px); 
  box-sizing: border-box;
  box-shadow: 0 4px 4px 4px lightsteelblue;
  overflow-y: auto; 
  position: absolute;
  top: 100px; 
  bottom: 15px;
  left: 0;
  right: 0;
  margin: auto; 
  max-height: calc(100vh - 100px); 
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.privacy-container::-webkit-scrollbar {
  width: 4px;
}
.privacy-container::-webkit-scrollbar-track {
  background: transparent;
}
.privacy-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}
.privacy-container::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.privacy-container:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}
.privacy-content {
  color: gray;
  transition: color 0.3s ease, transform 0.3s ease;
  animation: fadeInUp 1s ease;
}
.privacy-title {
  text-align: center;
  font:x-large bold;
  color: rgb(16, 16, 16);
  margin-bottom: 4px; 
  margin-top:5px;
}
.section-title {
  font: large bold; 
  color: #000;
  margin-top: 1rem;
  margin-bottom: 4px;
}
.privacy-content p, .privacy-content li {
  font: medium bold;
  line-height: 1.1;
}
.privacy-content h2:hover, .privacy-content p:hover {
  color: #226688;
  transform: scale(1.02);
}
/* Keyframes for the fadeInUp animation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
/* rateandreview page */
.rate-container {
  background-color:white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 10vh;
  border-radius: 5px solid gray;
  margin-top:10px;
  box-shadow:0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 1000px;
  margin: auto;

}
.book{
  color: #1b10df;
}
.MuiRating-root {
  font-size: 3rem; 
  margin-bottom: 2rem;
}
.text-area {
  width: 100%;
  max-width: 400px;
  min-width: 200px;
  margin-bottom: 1rem; 
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.textarea-container {
  position: relative;
  width: 50%;
  max-width: 400px;
}
.char-count {
  position: absolute;
  bottom: 20px;
  right: 10px;
  color: #555; 
  background-color: transparent; 
}
.testimonial-heading {
  margin-bottom: 16px; /* equivalent to 2 Material-UI spacing units */
  text-align: center;
  justify-content: center;
  align-items: center;
  font:xx-large bold;
  margin-bottom: 40px;
}

.button {
  width: 50%;
  max-width: 130px;
  padding: 8px 0; 
  background-color: #1b10df;
  color: white;
  border: none;
  border-radius:9px; 
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
  margin-bottom: 20px;
}

.testimonial-box {
  background-color: #f7f7f7;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 70%;
}
.review-delete-icon {
  cursor: pointer;
  color: #ff0000;
}

.testimonial-text {
  font-size: 1rem;
  color: #555;
  margin-bottom: 0.5rem;
}

.testimonial-author {
  font-style: italic;
  text-align: right;
  font-size: 0.875rem;
  color: #666;

}
.testimonial-rating {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.25rem;
  color: #ffa500; 
}

@media (max-width: 768px) {
  .textarea-container, .button {
    width: 100%;
  }
  .text-area {
    max-width: none;
  }
}
/*Contact us page*/
.contact-page{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: white;
}
.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:lightcyan; 
  margin-top: 80px;
  box-shadow:  0 4px 4px 4px lightsteelblue;
}
.form-container {
  width: 100%;
  max-width: 400px;
  background-color: #ffffff;
  padding:25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: rounded;
}
.form-title {
  margin-bottom:10px;
  font:xx-large bold;
  color: #08759a;
  text-align: center;
}
.form-subtitle {
  margin-bottom:10px;
  color: #08759a;
  font:large bold;
  text-align: center;
}
.contact-form {
  display: flex;
  flex-direction: column;
}
.input-group {
  margin-bottom:5px;
}
.input-group input::placeholder,
.input-group textarea::placeholder {
  font:medium bold;
  color: #c3bdbd; 
}
.input-group label {
  font:large bold;
  color: #08878e;
}
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 9px;
  margin-bottom:5px;
  background-color:whitesmoke;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-sizing: border-box;
}
textarea {
  height: 100px;
  resize: vertical;
}
.submit-button {
  padding: 10px;
  background-color:#08878e;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
 
  margin-top: 10px;
}

.submit-button:hover {
  background-color:#0a6377;
}
@media screen and (max-width: 600px) {
  .contact-page {
    flex-direction: column;
    justify-content: center;
    padding: 20px;
  }

  .contact-container {
    margin-top: 70px;
    width: 100%; /* Ensures the container uses full width */
    flex-direction: column;
    align-items: center;
  }

  .form-container {
    max-width: 100%; /* Allows the form to expand to the full width of its container */
    padding: 20px;
  }

  .form-title, .form-subtitle {
    font-size: large; /* Adjusts font size for better readability on smaller screens */
  }

  .input-group label {
    font-size: medium; /* Adjusts label font size for better visibility */
  }

  .input-group input, .input-group textarea {
    font-size: medium; /* Increases the font size in input fields and textareas for easier reading and typing */
  }

  /* Adjusts the navigation and hamburger menu for better usability */
  .nav-links a, .hamburger {
    font-size: larger; /* Makes links and hamburger menu larger for easier interaction */
    padding: 10px; /* Adds more padding for a larger clickable area */
  }
}

/*about us page*/
.about-page {
  margin: 0 auto; 
  background-color:white;
  padding-top: 80px;
  padding-bottom: 10px ;
}
.about-mission-values-container {
  background: #ffffff;
  padding: 30px;
  border-radius: 8px;
  margin: 20px auto; 
  box-shadow: 0 4px 4px 4px lightsteelblue;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-mission-values-container h1,
.about-mission-values-container h2 {
  color:#0a6377;
  font:xx-large bold;
  margin-bottom: 30px;
  text-align: center;
}

.about-mission-values-container p,
.about-mission-values-container ul {
  color: #555555;
  line-height: 2.5;
  font:large bold;
}

.mission-values {
  display: flex;
  justify-content: space-between;
  width: 100%; 
}

.mission-section,
.values-section {
  flex: 1;
  margin: 50px 70px; 
}

.values-section ul {
  list-style-type: disc;
  padding-left: 20px;
}

.values-section li {
  text-align: left; 
  margin-bottom: 10px;
}
.team-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 30px;
}
.team-section {
  background: #ffffff;
  padding: 30px;
  border-radius: 8px;
  margin: 20px auto; 
  box-shadow: 0 4px 4px 4px lightsteelblue;
  max-width: 1200px; 
}
.team-section h2 {
  color: #0a6377;
  margin-bottom: 30px; 
  font:xx-large bold;
  text-align: center; 
}
.team-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 30px;
}
.team-member-card {
  background: #fff;
  border-radius: 12px;
  padding: 30px;
  width: calc(33.333% - 40px);
  box-shadow: 0 4px  4px 4px lightsteelblue; 
  margin-bottom: 20px; 
  text-align: center;
  transition: transform 0.3s ease;
}
.team-member-card:hover {
  transform: scale(1.05); 
}
.team-member-card img {
  width: 180px; 
  height: 180px;
  object-fit: cover; 
  border-radius: 50%;
  margin: 0 auto 20px; 
}

.team-member-card h3 {
  margin-bottom: 10px;
  font:x-large bold;
  color:black;
}
.role {
  font-style: italic;
  color: #777777; 
  margin-bottom: 10px;
}

.bio {
  font:medium bold;
  color: #666666;
}
  @media screen and (max-width: 600px) {
    .about-mission-values-container,
    .team-section {
      padding: 15px;
      margin: 20px 0;
      max-width: 92%;
      margin-left: 15px
    }
    .mission-values {
      flex-direction: column;
    }
    .mission-section,
    .values-section {
      margin: 20px 0;
    }
    .team-members {
      gap: 10px;
    }
    .team-member-card {
      width: calc(50% - 5px);
    }
    .team-member-card img {
      width: 120px; 
      height: 100px;
    }
  
    .about-mission-values-container h1,
    .about-mission-values-container h2,
    .team-section h2 {
      font-size: medium; 
    }
    .about-mission-values-container p,
    .about-mission-values-container ul,
    .team-member-card h3,
    .role,
    .bio {
      font-size:small;
    }
    .nav-links {
      display:none;
    }
  }
/* Home Page */
.homepage {
  background-color: white;
}
.flight-hotel{
  display: grid;
  grid-template-columns: 3fr 3fr;
  grid-gap: 30px;
  margin-inline: 100px;
}
.flight, .hotel{
  position: relative;
  overflow: hidden;
}
.flight-pic, .hotel-pic{
  object-fit: cover;
 height: 450px;
 width: 900px;
 border-radius: 20px; ;
 margin-top: 90px;
}
.flights-content, .hotels-content{
  position: absolute;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content:flex-end;
  align-items: center;
  padding: 1em; 
  box-sizing: border-box;
}
.flightsHome, .hotelsHome{
  font:xx-large bold;
  color: white;
}
.flightWords, .hotelWords{
  font: large bold;
  color: white;
  margin-bottom: 0.5rem;
  margin-inline: 50px;
  text-align: center;
}
.flightlink, .hotellink { 
  text-decoration: black;
  font: small bold;
}
.flightSearchBox , .hotelSearchBox{
  border: 1px solid white;
  border-radius: 4px;
  background-color: white;
  padding: 10px;
  margin-bottom: 1px;
  padding-inline: 10px;
  display: flex;
  justify-content: space-between;
}
.vector-pic{
  width: 13px;
  height: 13px;
  margin-right: 4px;
  margin-top: 3px;
}
.popularFlights, .popularHotels, .testimonal {
  font:xx-large bold;
  text-align: left;
  margin: 30px 0px 30px 50px;
  color:#0a5d8e;
  text-shadow: lightcyan;
}
.testimonal{
  margin: 10px 0 10px 80px;
}
.popularflights {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 60px;
  margin: 0 auto;
  width: 90%;
  max-width: 1320px; 
}
.flightcard {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  font:large bold;
}
.flightp-pic {
  width: 100%; 
  max-width: 400px; 
  height: 500px; 
  border-radius: 20px;
}
.flight-content, .hotel-content {
  padding-top: 120px;
  background-color: #000;
  opacity: 0.7;
}
 .flightp-content, .flight-content, .hotel-content, .hotelp-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding-bottom: 10px;
  border-radius: 0 0 20px 20px; 
}
.flightp-title, .flightp-words, .price , .hotelp-title, .hotelp-words, .priceh , .pricep{
  color: white;
  margin-inline: 40px;
}
.hotelp-words{
  font:large bold;
}
.per{
  font-size: 10px;
  font-weight: 10px;
  margin-bottom: 2px;
}
.flightp-title, .hotelp-title {
  font-size: 23px;
  font-weight: bold;
}
.hotelp-title {
  padding-bottom: 25px;
}
.flightp-words{
  font-size: 10px;
  font-weight: 10px;
  max-width: 180px;
}
.price, .pricep {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  font-weight: bold;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  max-width: 1600px;
  margin-inline: auto;
}
.flightExploreBox {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #1D9BF0;
  border-radius: 7px;
  background-color: #1f08d0;
  padding: 10px;
  padding-inline: 22px;
  color: white;
  font:large bold;
  letter-spacing: 0.9px;
}
.vectorWhite-pic{
  width: 18px;
  height: 18px;
  margin-right: 10px;
  margin-bottom: 3px;
}
.users{
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.5px;
  font: x-large bold;
  font-weight: normal;
}
.book{
  color: #4200FF;
}
.poster{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  width: 80%;
  max-width: 1100px;
  gap: 200px;  
  margin-top: 80px;
}
.poster-pic{
  width: 305px;
  height: 219px;
}
.poster-content{
  text-align: center;
  padding-top: 10px;
}
.poster-title{
  font:x-large bold;
  color:#0a5d8e; 
}
.poster-words{
  color: #080808;
 font:large bold;
 line-height: 1.4em;
 margin-top: 10px;
 text-align: center;
}
.blck{
  height: 1px;
  background-color: rgb(202, 200, 200); 
  margin-top: 50px;
}
.footer{
  display: flex;
  justify-content: space-between;
  padding: 20px 0px 20px 100px; 
  max-width: 1400px;
}
.foot-title{
  font:xx-large bold;
  color: #0a5d8e;
  margin-top: -11px;

}
.footer-nav{
  display: flex;
  flex-direction:row;
  gap:15px;
  font:large bold;
}
.follow-links, .terms{
  display: flex;
  justify-content: space-between;
  width : 110px;
  align-items: center;
  cursor: pointer;
}
.foot-head{
  margin-top: -10px;
  font:x-large bold;
  margin-bottom: 6px;
  color:#0a5d8e;
}
@media (max-width: 600px) {
  .popularflights, .popularHotels {
    grid-template-columns: 1fr;
    margin: 10px; /* Two columns for smaller screens */
    width: fit-content;
  }

  .flight-hotel{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    margin-inline: 40px;
    justify-content: center;
  }

  .hotel{
    position: relative;
    margin-top: -70px;
  }

  .flight-pic, .hotel-pic{
    width: 300px;
    height: 300px;

  }

  .poster{
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    width: 80%;
    max-width: 1100px;
    gap: 50px;  
    margin-top: 80px;
  }

  .footer{
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    width: 80%;
    gap: 1px;  
    margin-top: 10px;
  }

  .foot-title{
    margin-left: -100px;
  }

  .footer-nav{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1px;
    margin-bottom: 30px;
  }

  .foot-head{
    margin-left: -95px;
    margin-top: -20px;
  }

  .follow-links, .terms, .footer-link{
    margin-left: -80px;
  }

  .follow-links{
    margin-bottom: 30px;
  }

  .flightp-pic{ 
    height: 350px; 
    width: 300px;
  }

  .flightcard{
    margin-left: 30px;
    margin-right: 30px;
  }

  .popularHotels{
    margin-left: 40px;
    margin-bottom: 30px;
    margin-top: 30px;
  }
}


@media (max-width: 480px) {
  .popularflights {
    grid-template-columns: 1fr; /* One column for very small screens */
  }
}

